<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.tymelif.org" xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Приют для животных</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/jbootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid h-200 bg-light text-dark ">
        <div class="row justify-content-center align-items-center">
            <h1>Карточка животного</h1>
        </div>
        <hr/>
            <div class="row justify-content-center  align-items-center h-200 ">
                <div class="col col-sm-6 col-md-6 col-lg-8 col-xl-8 bg-info border border-success rounded">
                    <form  action="#" th:action="'/printAnimal/'+${animal.id}" modelAttribute="cardanimal" method="post" th:object="${animal}">
                       <div class="form-group">
                           <div >
                               <p class="lead">Тип животного:</p>
                           </div>
                           <div class="form-group">
                               <h2 th:text="${animal.animalType}"></h2>
                           </div>
                       </div>
                       <div class="form-group">
                           <div >
                               <p class="lead">Пол животного:</p>
                           </div>
                           <div class="form-group">
                               <h2 th:text="${animal.animalGender}"></h2>
                           </div>
                       </div>
                       <div class="form-group">
                           <div >
                               <p class="lead">Дата приема:</p>
                           </div>
                           <div class="form-group mx-sm-3 mb-2">
                               <h2 th:text ="${#calendars.format(animal.dateOfReception,'dd MMMM yyyy')}"></h2>
                           </div>
                       </div>
                       <div class="form-group">
                           <div>
                                <p class="lead"> Приметы и описание животного:</p>
                           </div>
                           <div class="form-group">
                               <h2 th:text="${animal.description}"></h2>
                           </div>
                       </div>
                       <!--<button type="submit" class="btn btn-primary mb-2">Печать</button>-->
                   </form>
                </div>
            </div>
    </div>
</body>
</html>